@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-Regular.ttf");
}

:root {
  --primary: #24305e;
  --secondary: #f76d6d;
  --dark-blue: #374785;
  --tosca: #a8d1e7;
  --yellow: #f7e9a0;
  --gray: #d0d0d0;
  --white: #ffffff;
  --black-transparent50: rgba(0, 0, 0, 0.5);
  --font-base: "Poppins";
  --drop-shadow: 4px 5px 25px rgba(0, 0, 0, 0.06);
}

* {
  margin: 0;
  padding: 0;
}

.dark-blue {
  color: var(--dark-blue);
}

.blue {
  color: var(--primary);
}

.grey {
  color: var(--gray);
}

.orange {
  color: var(--secondary);
}

.white {
  color: var(--white);
}

.form {
  margin: 30px auto;
}
