.container-home {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-bottom: 10px;
}

.wrapper-image img {
    padding: 20px;
}

.wrapper-bottom {
    margin: 20px 30px 30px;
}

.wrapper-choise-user {
    display: flex;
    padding: 10px;
}

.choice-user {
    width: 132px;
    height: 142px;
    background-color: var(--tosca);
    margin: 10px auto;
    border-radius: 30px;
}

.choice-user img {
    width: 70%;
    margin-top: 10px;
}

.choice-user .text {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.lottie-login {
    height: 100px;
}